*.iml
music_player.jks
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/*
signing.properties
app/google-services.json
.idea/modules.xml
keystore.properties
app/release/app-release.apk
app/src/debug/
app/release/output.json
app/release/app-release.apk
app/release
installDebug.sh
keystore.properties
