*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/*
signing.properties
app/google-services.json
.idea/modules.xml
keystore.properties
